/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  margin: 0 auto;
  padding: 10%;
}
/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;;
}
/*
Header
*/

.header {
margin: 50px;
padding: 100px;
text-align: center;
font-family: Optima, Courier, Garamond, serif;
font-size: 60px;
}
h1 {
  color:#DAA520;
}

/* 
Navigation
*/
.nav {
  width: 99,7%;
  height: 120px; 
  background: #FFE4C4;
  border: 3px ridge #DAA520;
  background-image: url("vinesnav.png");
  background-repeat: repeat-x;
  background-position: 0 64%;
  background-size: auto 240px;
}
.nav li {
  display: inline-block;
  margin: 40px 20px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 20px;
  background: #FFE4C4;
  border: 6px ridge #DAA520;
  padding: 5px;
  box-sizing: border-box;
}
/*
Body
*/
.main-look {
  background:linear-gradient(#24639E, #16148C);
  background-repeat: no-repeat;
  min-height: 100vh;
}
/*
 Text
 */
.text-main {
  text-align: center;
  font-family: Optima, Arial, Helvetica, sans-serif;
}
.text-nav {

}
/*
Buttons
*/

.btn {

  
}

/*
Links
*/
a { color: #DAA520;
  text-decoration: none;
}
ul a {
  text-decoration: none;
  color:#9a761c; 
}
header a {
  text-shadow: 5px 5px 0 #A0522D,
}
